:root {
  --cor-primaria: #fff;
  --cor-primaria-gray: #f2f2f2;
  --cor-secundaria: #f24405;
  --cor-secundaria-dark: hsl(16, 66%, 48%);
  --cor-secundaria-light: #f28705;

  --cor-dark-texto: #212529;
  --cor-light-texto: #f2f2f2;

  --cor-verde-auxiliar: #6f7302;
  --cor-verde-light-auxiliar: #b9bf05;

  --box-shadow-sm: 0 3px 6px rgba(204, 204, 204, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

#barra-topo {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 56px;
  background-color: var(--cor-secundaria);
  box-shadow: var(--box-shadow-sm);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999999;
}

#barra-topo #icon-menu {
  font-size: 30px;
  color: var(--cor-primaria);
}

#menu-principal {
  display: none;
}

.formato-bolinha {
  border-radius: 50%;
  border: 2px solid var(--cor-primaria);
}

#pesquisar {
  position: relative;
  padding: 16px 8px;
  margin-top: 70px;
}

#pesquisar input {
  background-color: var(--cor-primaria);
  width: 100%;
  height: 45px;
  padding: 8px 40px 8px 15px;
  border: 1px solid var(--cor-secundaria-light);
  border-radius: 20px;
  box-shadow: var(--box-shadow-sm);
  font-size: 1rem;
}

#pesquisar input:focus {
  outline-color: var(--cor-secundaria);
}

#pesquisar button {
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  top: 27px;
}

#pesquisar i {
  font-size: 20px;
}

.conteudo {
  background-color: var(--cor-primaria-gray);
}

.lista-categorias {
  overflow-x: auto;
}

.lista-categorias ul {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  margin-bottom: 1rem;
  gap: 5px;
}

/* .lista-categorias ul li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 20%;
} */

.lista-categorias .item-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor-primaria);
  font-size: 0.5rem;
  color: var(--cor-dark-texto);
  text-align: center;
  padding: 8px;
  width: 80px;
  height: 80px;
  margin: 3px;
  box-shadow: var(--box-shadow-sm);
  border-radius: 10px;
}

.lista-categorias .item-categoria i::before {
  font-size: 2rem;
  color: var(--cor-secundaria-light) !important ;
}

.lista-produtos {
  display: inline-flex;
  flex-wrap: wrap;
}

.lista-produtos .item-produto {
  width: calc(50% - 16px);
  border: 1px solid var(--cor-primaria-gray);
  border-radius: 16px;
  box-shadow: var(--box-shadow-sm);
  margin: 8px;
  padding: 8px;
}

.lista-produtos .item-produto img {
  border-radius: 16px 16px 0 0;
}

.lista-produtos .item-produto h2 {
  font-size: 1.2rem;
}

.lista-produtos .item-produto small {
  font-size: 0.8rem;
}

.lista-produtos .item-produto .preco {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--cor-secundaria);
}

.box-preco {
  display: flex;
  justify-content: space-between;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* .btn-adicionar {
  background-color: var(--cor-secundaria-light);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  color: var(--cor-primaria);
  text-decoration: none;
  border-radius: 15px;
  align-items: center;
} */

main {
  margin-bottom: 70px;
}

#menu-rodape {
  background-color: var(--cor-secundaria);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  box-shadow: 0 -3px 6px rgba(204, 204, 204, 1);
}

#menu-rodape ul {
  display: flex;
  justify-content: space-around;
}

#menu-rodape ul a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--cor-light-texto) !important;
  display: block;
  padding: 8px;
}

/* #menu-rodape ul a:hover {
  background-color: var(--cor-secundaria-light);
} */
